@font-face { font-family: 'Circe Regular'; src: url(../fonts/Circe-Regular.ttf); }
@font-face { font-family: 'Circe-Bold'; src: url(../fonts/Circe-Bold.ttf); }
@font-face { font-family: 'Intro-Script'; src: url(../fonts/intro-script-r-h2-base.otf); }
